.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Movie-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.Movie-wrapper {
  width: 500px;
  color: #ebedf0;
  text-shadow: 1px 1px black;
  background-color: gray;
  min-height: 1200px;
  font-size: 24px;
}

.Movie-search {
  height: 48px;
  font-size: 24px;
  margin-bottom: 32px;
  padding: 16px;
  width: 250px;
}

.title {
  height: 40px;
  font-family: "Viga", sans-serif;
  margin-top: 10px;
}

.sinopsis {
  text-align: justify;
  margin-left: 1rem;
  margin-right: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
  font-size: 22px;
  margin-bottom: 20px;
}

.date {
  font-style: italic;
  font-weight: bold;
  margin-bottom: 10px;
}

.rate {
  font-family: "Viga", sans-serif;
  color: red;
  font-weight: 200;
  text-shadow: 2px 2px black;
}

@media (max-width: 450px) {
  .Movie-wrapper{
    min-height: 500px ;
  }

  .Movie-search{
    font-size: 85%;
  }

  .Movie-image{
    width: 50%;
    height: 50%;
  }

  .date {
    font-size: 20px;
  }
  .rate {
    margin-bottom: 10px;
  }
}